/* CSS estilos personalizados del carrusel */
.custom-carousel-image {
    max-height: 800px; /* Ajusta la altura según las necesidades */
    margin: 0 auto;
}

.carousel-inner {
    display: flex;
    flex-direction: column; /* Hace que los elementos del carrousel se apilen verticalmente */
}

.carousel-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overlay {
    background: rgba(0, 0, 0, 0.6); /* Fondo con transparencia para el texto */
    color: #fff;
    padding: 15px;
    border-radius: 5px;
}

.carousel-caption {
    text-align: center; /* Centra el texto verticalmente */
}

 /* CSS para el overlay negro */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Un fondo negro con una opacidad del 50% (puedes ajustar el valor alfa según tus preferencias) */
  }

  .titulo { /*CSS para titulos/encabezados*/
    color: #000000;
    text-align: center; /* Centra el texto horizontalmente */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Centra el contenido verticalmente */
    font-weight: bold;
  }

  .imagen-con-marco { /*marco para imagenes*/
    border: 4px solid #0a4717; 
    margin: 10px; /* Añade un margen alrededor de la imagen */
    padding: 10px; /* Añade relleno dentro del borde */
    max-width: 100%;
    max-height: 100%;
    width: 1000px;
    height: 750px;
  }

  .imagen-con-marco4 { /*marco para imagenes*/
    border: 4px solid #0a4717; 
    margin: 10px; /* Añade un margen alrededor de la imagen */
    padding: 10px; /* Añade relleno dentro del borde */
    max-width: 100%;
    max-height: 100%;
    width: 500px;
    height: 250px;
  }

  .section-con-fondo { /*seccion con fondo*/
    background-color: #eeecd9; 
    padding: 20px; 
    border: 0px solid #000000; /* borde alrededor de la sección */
  }

  .imagen-con-marco2 { /*marco para imagenes*/
    border: 4px solid #0a4717; 
    margin: 5px; /* Añade un margen alrededor de la imagen */
    padding: 5px; /* Añade relleno dentro del borde */
    max-width: 100%;
    max-height: 100%;
    width: 600px;
    height: 300px;
    float: left; /* Alinea la imagen a la izquierda */
  }

  .imagen-con-marco3 { /*marco para imagenes*/
    border: 4px solid #0a4717; 
    margin: 5px; /* Añade un margen alrededor de la imagen */
    padding: 5px; /* Añade relleno dentro del borde */
    max-width: 100%;
    max-height: 100%;
    width: 250px;
    height: 400px;
    float: left; /* Alinea la imagen a la izquierda */
  }

  .imagen-con-marco5 { /*marco para imagenes*/
    border: 4px solid #0a4717; 
    margin: 5px; /* Añade un margen alrededor de la imagen */
    padding: 5px; /* Añade relleno dentro del borde */
    max-width: 100%;
    max-height: 100%;
    width: 400px;
    height: 250px;
    float: left; /* Alinea la imagen a la izquierda */
  }

    .imagen-con-marco6 {
        width: 200px; /* Tamaño fijo para todas las imágenes */
        height: 200px; /* Tamaño fijo para todas las imágenes */
        object-fit: cover; /* Ajusta la imagen para cubrir todo el cuadro manteniendo la relación de aspecto */
    }

  /* Estilo para ocultar el modal por defecto */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  z-index: 1;
}

.modal-content {
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  text-align: center;
  float: center;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

/* Estilo para el botón de abrir el modal */
#openModal {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* Estilo para la imagen pequeña de modal */
.img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
    max-height: 100%;
    width: 400px;
    height: 200px;
}

/* Estilo para el footer */
footer {
  background-color: #212529;
  color: #fff;
  padding: 20px 0;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
}

.contact, .links, .author-info {
  flex: 1;
  padding: 0 10px;
}

/* Estilo para el copyright */
.copyright {
  text-align: center;
  background-color: #222;
  padding: 10px 0;
}

/* Google fonts y formatos de etiquetas*/
p, ul, li {font-family: 'Roboto Condensed', sans-serif;
  font-size: 24px;
  text-align: justify;
}

a, label {font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;

}
 h2, h3 {font-family: 'Oswald', sans-serif;}

 h1 {font-family: 'Oswald', sans-serif;
      font-size: 30px;
}
